
/unity3d/FollowCameraPrototype/Library/cache
/unity3d/FollowCameraPrototype/Library/metadata
/unity3d/FollowCameraPrototype/Library/previews

/unity3d/PathFindingPrototype/Library/cache
/unity3d/PathFindingPrototype/Library/metadata
/unity3d/PathFindingPrototype/Library/previews

/unity3d/CemeteryManagerPrototype/Library/cache
/unity3d/CemeteryManagerPrototype/Library/metadata
/unity3d/CemeteryManagerPrototype/Library/previews